In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import thinkstats2
import thinkplot
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, mean_squared_error, confusion_matrix,log_loss,  precision_score, recall_score
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import TomekLinks
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import SVMSMOTE
from imblearn.over_sampling import ADASYN
from collections import Counter
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import binarize
import statsmodels.formula.api as sm
from sklearn.pipeline import make_pipeline
import math

# Assignment 4 - Classification

For this assignment, you'll need to perform a classification on a dataset, as well as do some prep work on the data. 

The exact steps of what you need to do are flexible and up to you to some degree, however you should consider some of the important things we've mentioned recently, such as:
<ul>
<li> Is the target balanced?
<li> Are there missing or erroneous values?
<li> Are there categorical or numerical features?
<li> Is there colinearity?
<li> Are there outliers?
<li> Should we normalize? 
<li> Do the distributions of the features give any indication that some may need work? 
</ul>

Basically, the data is in the original, potentially dirty, format, and you need to find what should be cleaned, and do the cleaning. There is not one "right" answer to what has to be done, and you'll probably need to do it with at least something of an iterative process - find an issue, correct it, check the data, repeat.

<b>The target that we are predicting is the loan_status. </b>

## Grading

The grades will be broken down as follows:
<ul>
<li> <b>30%</b> - a working predictive model with a reasonable level of accuracy. 
    <ul>
    <li> For the accuracy part, it will not be explicitly graded, but compared to all the others. If you're in the same general range, that's good - if yours is drastically less accurate (or, I guess more accurate), then I'll adjust. There won't be a comparison of "this person is 72.3% and this person is only 71.8% accurate, they fail."
    <li> This data is larger than most of the small sample sets, so random variations due to train-test splits shouldn't be too bad. (If you're a keener you could loop)
    <li> I will use the F1 score as the accuracy metric. 
    </ul>
<li> <b>40%</b> - a clear and readable description of what steps you took to prepare the data, and a brief not on the rationale behind it. Did you do a log transformation to a skewed feature, did you remove outliers, did you remove a feature that has a lot of missing values? Please put this somewhere obvious and readable, consider the goal of the assignment to explain your process to me. 
    <ul>
    <li> E.g. "The target data was imbalanced, so I tried several resampling methods and chose the one with the highest accuracy of the resulting model", "the feature X had the same value for 95% of records, so I dropped it". 
    <li> In this, please also state if you see a group that appears to be a good credit risk, and a group that is a bad credit risk, and indicate the evidence showing that. Please do this other than the most simplistic way - more money = better credit. If there are no such groups, state why you think this. This will likely be about 3 - 5 statements or points, you should provide evidence from the data, but it does not need to be an essay. (You may want to consider this question after you're pretty much done with the data prep and modelling.)
    </ul>
<li> <b>30%</b> - allowing your model to be "deployed". At the bottom of this file there is a small block of code to load in some test data (that I have), and calculate your accuracy. Your contribution to this part is to have a model that is ready to make predictions. Some specifics to consider:
    <ul>
    <li> The test data will be in exactly the same format as the dataset you're given. So any steps that you took to prepare your data for modelling will need to be mirroed here, so the new  data can be predicted. The easiest way to do this is to use a pipeline, but it is up to you. Remember the model only accepts data that is in a certain format - the one that you had the data in when it was trained, so when making predictions you need to make sure that is true. 
    <li> Since I'm providing test data, and your task is to just create a model, think about how that might impact your train-test splitting, both as you're developing and for the final product. 
    <li> Once the model is trained it should predict any data that is in the right format, so I should be able to provide any proper dataset, click run on that testing cell, and get predictions. I will not be doing anything that will purposefully make this harder or trickier, like including data that has errors or is in the wrong format, I just split the entire set of data, reserved part of it to test accuracy, and gave the rest to you. Things that you've changed (e.g. dropping a column, one-hot encoding) do need to be replicated at some point before the model can accept the new data to predict. In general we <b>do</b> want to check in our processing that our input is valid, this is kind of a junior introduction to that. 
    </ul>
</ul

#My Ideas
1.clean the data(drop the columns which are not usefull, and filtering the outliers)
2.drop the Null values
3.draw pairplot
4.use the sampler:ADASYN and training model 
5. Fine the F1

## Load Credit Data

In [13]:
df = pd.read_csv("train.csv")
df.head()

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,26967,27,120000,MORTGAGE,3.0,PERSONAL,B,14000,11.99,0,0.12,N,10
1,8449,24,58000,MORTGAGE,8.0,DEBTCONSOLIDATION,A,15700,7.90,0,0.27,N,3
2,20983,30,45000,RENT,11.0,MEDICAL,C,5000,12.73,1,0.11,Y,8
3,19612,35,35000,MORTGAGE,5.0,EDUCATION,B,5600,11.49,0,0.16,N,6
4,30371,38,55000,RENT,0.0,EDUCATION,C,6500,11.03,0,0.12,Y,12

In [14]:
df.describe()

,Unnamed: 0,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,26064.000000,26064.000000,2.606400e+04,25350.000000,26064.000000,23575.000000,26064.000000,26064.000000,26064.000000
mean,16307.473258,27.738375,6.602795e+04,4.791440,9595.886088,11.006839,0.216812,0.170264,5.805210
std,9396.129345,6.381305,6.265098e+04,4.100277,6321.894580,3.245217,0.412082,0.106673,4.055158
min,0.000000,20.000000,4.080000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,8202.250000,23.000000,3.879375e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,16324.500000,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,24458.250000,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,32580.000000,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [15]:
df=df.drop(columns={'Unnamed: 0','cb_person_cred_hist_length'})
df=df[df['person_income'] < 1000000]
df=df[df["person_emp_length"] <60]
df=df[df["person_age"] < 100]
#remove null values
df.dropna(axis=0, inplace=True)
df.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income
count,22909.000000,22909.000000,22909.00000,22909.000000,22909.000000,22909.000000,22909.000000
mean,27.710769,66124.767602,4.78969,9669.640753,11.035804,0.215854,0.169696
std,6.156724,46586.016992,4.03339,6327.819938,3.234427,0.411422,0.106349
min,20.000000,4080.000000,0.00000,500.000000,5.420000,0.000000,0.000000
25%,23.000000,39600.000000,2.00000,5000.000000,7.900000,0.000000,0.090000
50%,26.000000,55692.000000,4.00000,8000.000000,10.990000,0.000000,0.150000
75%,30.000000,80000.000000,7.00000,12500.000000,13.480000,0.000000,0.230000
max,84.000000,948000.000000,38.00000,35000.000000,23.220000,1.000000,0.830000

In [16]:
sns.pairplot(df, hue="loan_status")

In [17]:
df = pd.get_dummies(df, drop_first=True)
df.sample(10)

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
13128,25,50000,5.0,4000,13.43,0,0.08,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14427,24,200000,0.0,3025,6.17,0,0.02,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14326,24,144000,8.0,14400,10.25,0,0.10,0,0,0,...,0,1,0,1,0,0,0,0,0,0
16558,56,150000,5.0,15000,11.48,0,0.10,0,0,0,...,0,1,0,1,0,0,0,0,0,0
21129,26,66000,0.0,2875,7.49,0,0.04,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16812,30,61000,4.0,12000,6.92,0,0.20,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24369,32,89000,0.0,12000,8.94,0,0.13,0,0,1,...,1,0,0,0,0,0,0,0,0,0
8960,26,120000,10.0,10000,12.73,0,0.08,0,0,0,...,0,1,0,0,1,0,0,0,0,0
7311,24,43000,3.0,14500,10.75,1,0.34,0,0,1,...,0,1,0,1,0,0,0,0,0,0
12761,24,97000,3.0,6400,15.96,0,0.07,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [18]:
def convert_prob_to_label(prob, cutoff = 0.5):
    label = []
    for i in range(len(prob)):
        if prob[i] > cutoff:
            label.append(1)
        else:
            label.append(0)
    return label

In [19]:
sampler = ADASYN(n_jobs=-1)

#Split Data x/y
y = np.array(df["loan_status"]).reshape(-1,1)
x = np.array(df.drop(columns="loan_status"))

XTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.33)

#Look at relative imb
X_trSamp, y_trSamp = sampler.fit_resample(XTrain, yTrain)
print('Resampled dataset shape %s' % Counter(y_trSamp))

#Normalize data
scaler = StandardScaler()
X_train_norm = scaler.fit_transform(X_trSamp)
X_test_norm = scaler.transform(xTest)

model = LogisticRegression(max_iter=1000, n_jobs=-1).fit(X_train_norm,y_trSamp.ravel())
model_pred = model.predict(X_test_norm)

labels = convert_prob_to_label(np.array(model_pred))
matrix = confusion_matrix(yTest,labels)
sns.heatmap(matrix, annot=True)

print("F1:",f1_score(yTest, labels))
print("Acc:",accuracy_score(yTest, labels))
print("Recall:",recall_score(yTest, labels))
print("Precision:",precision_score(yTest, labels))

Resampled dataset shape Counter({0: 11988, 1: 11862})
F1: 0.6371822033898306
Acc: 0.8187830687830688
Recall: 0.759469696969697
Precision: 0.5488138686131386

### Accuracy Test

Replace the green part with whatever you need to transform the fresh data into the format needed for your model to predict. 

<b>Note:</b> you could test and make sure that things are working OK here by taking part of your dataset, saving it in a separate CSV, and running it through here as a piece of test data. The accuracy results would be useless, but you'd confirm that the model works properly.

In [21]:
d_test = pd.read_csv("_test.csv").sample(1000)



######################
# Filtering outliers, dropping NaN values 
d_test=d_test.dropna(axis=0)
d_test=d_test.drop(columns={'Unnamed: 0','cb_person_cred_hist_length'})
d_test=d_test[d_test["person_income"]<1000000]
d_test=d_test[d_test["person_age"] <100]
d_test=d_test[d_test["person_emp_length"]<60]

sampler = ADASYN(n_jobs=-1)

#Split Data x/y
y = np.array(df["loan_status"]).reshape(-1,1)
x = np.array(df.drop(columns="loan_status"))

XTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size=0.33)

#Look at relative imb
X_trSamp, y_trSamp = sampler.fit_resample(XTrain, yTrain)
print('Resampled dataset shape %s' % Counter(y_trSamp))

#Normalize data
scaler = StandardScaler()
X_train_norm = scaler.fit_transform(X_trSamp)
X_test_norm = scaler.transform(xTest)

model = LogisticRegression(max_iter=1000, n_jobs=-1).fit(X_train_norm,y_trSamp.ravel())
model_pred = model.predict(X_test_norm)

labels = convert_prob_to_label(np.array(model_pred))
matrix = confusion_matrix(yTest,labels)


print("F1:",f1_score(yTest, labels))
print("Acc:",accuracy_score(yTest, labels))
print("Recall:",recall_score(yTest, labels))
print("Precision:",precision_score(yTest, labels))
sns.heatmap(matrix, annot=True)



#######################

# This should work once you're done, as is. 
# uncomment the stuff below when ready to run.
#print("F1:",f1_score(ytest, prediction_labels))
#conf_matrix = confusion_matrix(ytest, prediction_labels)
#sns.heatmap(conf_matrix, annot=True)

Resampled dataset shape Counter({0: 12051, 1: 11718})
F1: 0.6470281543274244
Acc: 0.8208994708994709
Recall: 0.7534911961141469
Precision: 0.566925536774783